<!-- 
    - #FOOTER
  -->

<footer class="footer">
  <div class="container">
    <div class="footer-top section">
      <div class="footer-brand">
        <a href="#" class="logo"><img src="media\photos\brandassets\logo-type.png" width="150" height="50"></a>

        <ul>
          <li class="footer-list-item">
            <ion-icon name="location-sharp" aria-hidden="true"></ion-icon>

            <address class="address">Kreatonin, Mumbai, India 2023</address>
          </li>

          <li class="footer-list-item">
            <ion-icon name="call-sharp" aria-hidden="true"></ion-icon>

            <a href="tel:+1234567890" class="footer-link">+1234567890</a>
          </li>

          <li>
            <ul class="social-list">
              <li>
                <a href="https://instagram.com/kreatonin" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a
                  href="https://twitter.com/kreatonin" class="social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li>
                <a href="kreatonin@gmail.com" class="social-link">
                  <ion-icon name="globe-outline"></ion-icon>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Help & Information</p>
        </li>

        <li>
          <a href="#" class="footer-link">Help & Contact Us</a>
        </li>

        <li>
          <a href="#" class="footer-link">Returns & Refunds</a>
        </li>

        <li>
          <a href="#" class="footer-link">Online Stores</a>
        </li>

        <li>
          <a href="#" class="footer-link">Terms & Conditions</a>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">About Us</p>
        </li>

        <li>
          <a href="#" class="footer-link">About Us</a>
        </li>

        <li>
          <a href="#" class="footer-link">What We Do</a>
        </li>

        <li>
          <a href="#" class="footer-link">FAQ Page</a>
        </li>

        <li>
          <a href="#" class="footer-link">Contact Us</a>
        </li>
      </ul>

      <div class="footer-list">
        <p class="footer-list-title">Newsletter</p>

        <form action="" method="POST" class="footer-form">
          {% csrf_token %}
          <input
            type="email"
            name="email"
            placeholder="Your email address"
            required
            class="email-field"
          />

          <button type="submit" class="footer-form-btn">
            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </button>
        </form>

        <div class="wrapper">
          <a href="#" class="footer-link">Term & Condition</a>
          <a href="#" class="footer-link">Policy</a>
          <a href="#" class="footer-link">Map</a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="copyright">
        &copy; 2023 All Rights Reserved by
        <a href="#" class="copyright-link">kreatonin</a>.
      </p>
    </div>
  </div>
</footer>

<!-- 
    - #BACK TO TOP
  -->

<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
  <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
</a>
