
  <!-- 
    - #SIDEBAR
  -->

  <div class="sidebar" data-navbar>

    <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
      <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
    </button>

    <div class="wrapper">

      <ul class="sidebar-list">

        <li>
          <p class="sidebar-list-title">Language</p>
        </li>

        <li>
          <a href="#" class="sidebar-link">English</a>
        </li>


      </ul>

      <ul class="sidebar-list">

        <li>
          <p class="sidebar-list-title">Currency</p>
        </li>

        <li>
          <a href="#" class="sidebar-link">INR</a>
        </li>


      </ul>

    </div>

    <nav class="navbar">
      <ul class="navbar-list">

        <li class="navbar-item">
          <a href="{% url 'index' %}" class="navbar-link" data-nav-link>Home</a>
        </li>

       

        <li class="navbar-item">
          <a href="#product" class="navbar-link" data-nav-link>Product</a>
        </li>

        <li class="navbar-item">
          <a href="#blog" class="navbar-link" data-nav-link>Blogs</a>
        </li>

      
        <li class="navbar-item">
          <a href="templates\pages\abc.html" class="navbar-link" data-nav-link>try</a>
        </li>
        <li class="navbar-item">
          <a href="templates\paysuccess.html" class="navbar-link" data-nav-link>tryyy</a>
        </li>
      </ul>
    </nav>

    <ul class="contact-list">

      <li>
        <p class="contact-list-title">Contact Us</p>
      </li>

      <li class="contact-item">
        <address class="address">
          Mumbai, India
        </address>
      </li>

      <li class="contact-item">
        <a href="mailto:kreatonin@gmail.com" class="contact-link">kreatonin@gmail.com</a>
      </li>
      <li class="contact-item">
        <a href="mailto:sarah.kreates@gmail.com" class="contact-link">sarah.kreates@gmail.com</a>
      </li>

      <li class="contact-item">
        <a href="tel:00001235567890" class="contact-link">(0000) 1235 567890</a>
      </li>

    </ul>

    <div class="social-wrapper">

      <p class="social-list-title">Follow Us On Socials</p>

      <ul class="social-list">
        <li>
          <a href="https://instagram.com/kreatonin" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
       </li>

        <li>
          <a href="https://twitter.com/kreatonin" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://tiktok.com/kreatonin_" class="social-link">
            <ion-icon name="logo-tiktok"></ion-icon>
          </a>
        </li>

      </ul>

    </div>

  </div>

  <div class="overlay" data-overlay data-nav-toggler></div>

