
      <!-- 
        - #PRODUCTS
      -->

      <section class="section product" id="product" aria-label="product">
        <div class="container">

          <div class="title-wrapper">
            <h2 class="h2 section-title">Popular Products</h2>

            <ul class="filter-btn-list">

              <li class="filter-btn-item">
                <button class="filter-btn active" data-filter-btn="all">All Products</button>
              </li>

              <li class="filter-btn-item">
                <button class="filter-btn" data-filter-btn="accessory">Accessory</button>
              </li>

              <li class="filter-btn-item">
                <button class="filter-btn" data-filter-btn="decoration">Decoration</button>
              </li>

              <li class="filter-btn-item">
                <button class="filter-btn" data-filter-btn="furniture">Furniture</button>
              </li>

            </ul>
          </div>

          <ul class="grid-list product-list" data-filter="all">

            {% if listings %}
              {% for listing in listings %}
                <li class="decoration">
                <div class="product-card">

                  <a href="" class="card-banner img-holder has-before" style="--width: 300; --height: 300;">
                    <img src="{{ listing.photo_main.url }}" width="300" height="300" loading="lazy"
                      alt="{{ lisitng.title }}" class="img-cover">

                    <ul class="card-action-list">

                      <li>
                        <form action="{% url 'listings' %}">
                        <button class="card-action-btn" aria-label="add to cart" title="add to cart">
                          <ion-icon name="eye-outline"></ion-icon>
                        </button>
                      </form>
                      </li>



                    </ul>
                    <ul class="badge-list">
                      {% if is_on_sale == TRUE %}

                      <li>
                        <div class="badge orange">Sale</div>
                      </li>

                      <li>
                        <div class="badge cyan">-10%</div>
                      </li>

                      {% else %}
                        
                      {% endif %}
                    </ul>
                    pass
                  </a>

                  <div class="card-content">
                    <h3 class="h3">
                      <a href="" class="card-title">{{ listing.title }}</a>
                    </h3>

                    <div class="card-price">
                      {% if is_on_sale == TRUE %}
                        <del class="del">₹{{ listing.price }}</del>

                        <data class="price" value="10">₹{{ listing.sale_price}}</data>
                      {% else %}
                        <data class="price" value="10">₹{{ listing.price}}</data>
                      {% endif %}

                    </div>
                  </div>

                </div>
                </li>
              {% endfor %}
            {% endif %}
          </ul>

        </div>
      </section>


      